<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>

<h2>User Registration</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

    <div>
        <label>Password:</label><br>
        <input type="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">
        </div>
    </div>

    <br>

    <div>
        <label>Confirm Password:</label><br>
        <input type="password" th:field="*{confirmPassword}" />
        <div th:if="${#fields.hasErrors('confirmPassword')}"
             th:errors="*{confirmPassword}">
        </div>
    </div>

    <br>

    <button type="submit">Register</button>

</form>

</body>
</html>
